[system]
ver=410
author=Sam
copyright=Sam
web=www.allwinnertech.com

[config]
key=NULL
image=NULL
pronum=608
proDynamic=101


[check]
reboot=0
erase_all=0
update_two=0
clear_info=0

[uiview]
;0:hide,1:show
reboot=1
erase_all=1
update_two=1
clear_info=1